
/nbproject
/orm
build.xml
manifest.mf
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan10StudiKasus2/nbproject/private/
/Pertemuan10StudiKasus/nbproject/private/
/Pertemuan10StudiKasus/build/
/Tubes
/Pertemuan12/nbproject/private/
/Pertemuan12/build/
/Pertemuan13/nbproject/private/
/Pertemuan13/build/
/Pertemuan13Latihan3/nbproject/private/
/Pertemuan13Latihan3/build/
/Pertemuan14/nbproject/private/
/Pertemuan14/build/
