
/nbproject
/orm
build.xml
manifest.mf
/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan10StudiKasus2/nbproject/private/
/Pertemuan10StudiKasus/nbproject/private/
/Pertemuan10StudiKasus/build/
/Tubes
/Pertemuan12/nbproject/private/
/Pertemuan12/build/
